* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

header {
  width: 100%;
  height: 100px;
  background-color: lightblue;
}

header .inner {
  position: relative;
  height: 100%;
  margin: auto;
  /* 1200px보다 늘어날 수 없도록 */
  max-width: 1200px;
  padding: 0 1.5rem;
}

/* 로고 큰 width에서 맨 왼쪽에 위치하려면? */
header .inner .logo {
  line-height: 100px;
  position: absolute;
  /* i는 font-size로 크기 조정 */
  font-size: 50px;
  color: aliceblue;
}

.menu {
  line-height: 100px;
  display: flex;
  justify-content: center;
}
.menu > li {
  padding: 0 10px;
  font-weight: 600;
}

.small-menu,
.menu-bar {
  display: none;
}
.menu-bar {
  position: absolute;
}

@media screen and (max-width: 768px) {
  header {
    height: 60px;
  }
  .small-menu,
  .menu-bar {
    display: block;
    text-align: center;
  }
  .small-menu > li {
    padding: 10px 0;
    background-color: rgb(227, 240, 245);
  }
  header .inner .logo {
    /* height의 크기값에 맞게 line-height 값을 다시 선언*/
    /* .logo만 했을 때는 안됨 -> 길게 선언하였더니 됨 */
    line-height: 60px;
    left: calc(50vw - 25px);
  }
  .menu-bar {
    line-height: 60px;
    top: 0;
    left: 90vw;
  }
  .menu {
    display: none;
  }
}
