* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

header {
  width: 100%; /* 부모의 너비 속성 사용 */
  height: 100px;
  background-color: lightblue;
}

header .inner {
  position: relative;
  height: 100%; /* 부모 높이 다씀 */
  margin: auto;
  /* 1200px보다 늘어날 수 없도록 */
  max-width: 1200px;
  padding: 0 1.5rem;
}

/* 로고 큰 width에서 맨 왼쪽에 위치하려면? */
header .inner .logo {
  /* 세로중앙정렬 */
  line-height: 100px;
  /* 아이콘이 없어도 메뉴들이 중앙정렬 되기위해 이글루에 absolute */
  position: absolute;
  /* i는 font-size로 크기 조정 */
  font-size: 50px;
  color: aliceblue;
}
.menu {
  line-height: 100px;
  display: flex;
  justify-content: center;
  /* 높이를 줘야 align-items 사용가능 */
  /* height:100% */
  /* align-items: center; */
}
.menu > li {
  padding: 0 10px;
  font-weight: 600;
  /* margin-right: 20px; */
}

.small-menu,
.menu-bar {
  /* 웹에서는 웹헤더만 보여야하므로 */
  display: none;
}
.menu-bar {
  position: absolute;
}

@media screen and (max-width: 768px) {
  header {
    height: 60px;
  }
  .small-menu,
  .menu-bar {
    display: block;
    text-align: center;
  }
  header .inner .logo {
    /* height의 크기값에 맞게 line-height 값을 다시 선언*/
    /* .logo만 했을 때는 안됨 -> 길게 선언하였더니 됨 */
    line-height: 60px;
    left: calc(50vw - 25px);
  }
  .menu-bar {
    line-height: 60px;
    top: 0;
    left: 90vw;
    /* position: absolute; */
    /* font-size: 30px; */
    /* line-height:60px */
    /* right: 5%; */
  }
  /* header .small-menu {
    display: flex;
    flex-direction: column;
  }
  .small-menu > li {
    padding: 10px 0;
    background-color: rgb(227, 240, 245);
    height: 60px;
    flex, align-items 사용해도됨
    text-align: center;
    line-height: 60px;
    cursor: pointer;
  } */
  .small-menu > li {
    padding: 10px 0;
    background-color: rgb(227, 240, 245);
  }
  .small-menu > li:hover {
    background-color: rgb(47, 125, 156);
    color: white;
  }
  /* display:none이 적용되기 위해서는 길게 작성해줘야 우선순위 안밀림 */
  /* 내꺼에서는 길게 지정해주면 보임 */
  .menu {
    display: none;
  }
}
