* {
  /* 태그에 기본적으로 적용되어 있는 margin,padding 없애기 */
  /* border-box 안주면 검색창 이상해짐 */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  height: 64px;
  box-shadow: 1px 0 10px rgba(135, 135, 135, 0.461);
}

/* 돋보기 input 안으로 이동시키기*/
/* 축으로 이동시킴 */
header .inner .menu-right .header__search i {
  transform: translateY(-50%);
}
header .inner .menu-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* btn */

.btn {
  cursor: pointer;
}
header .inner {
  display: flex;
  justify-content: space-between;
}

header .inner .menu-left .menu {
  display: flex;
  justify-content: space-between;
}
header .inner .menu-left .menu li {
  padding: 0 10px;
  list-style: none;
}

/* a태그에 정확히 색깔지정 해줘야함 */
header .inner .menu-left .logo a {
  color: #2fc97a;
  font-size: 24px;
  font-weight: 500;
}
header .inner .menu-right {
  display: flex;
  justify-content: space-between;
}
header .inner .menu-right div {
  padding: 0 10px;
}

/* header .inner .menu-right .header__search {
  
}

header .inner .menu-right .header__search i {
 
} */

/* input */
header .inner .menu-right .header__search {
  position: relative;
}

input {
  border: 0;
  background-color: #f6f6f6;
  border-radius: 8px;
  padding-left: 5px;
  width: 550px;
  height: 36px;
  display: flex;
  align-items: center;
}
header .inner .menu-right .header__search i {
  position: absolute;
  top: 18px;
  right: 30px;
}

input:hover {
  border: 1px solid gray;
}

input:focus {
  outline: 2px solid #1dc078;
}

/* 로그인 */
.btn {
  height: 34px;
}
