/* @font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
    font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GmarketSansMedium';
}
main {
  position: relative;
  display: flex;
  justify-content: center;
}
body {
  margin-top: 20px;
  background-color: rgb(238, 236, 236);
}

/* 마이페이지 왼쪽파트 */
.asidenav {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 100px;
}
/* --------------------------------------------------------- */
/* 프로필 */
.profilephoto {
  background-color: lightgray;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin: 0 auto;
}
.profilename {
  font-size: 2rem;
  text-align: center;
  margin-top: 8px;
}
/* --------------------------------------------------------- */
/* 루미 */
.lumi {
  display: flex;
  flex-direction: column;
  height: 140px;
  /* 요소를 양끝과 요소 사이 거리 다 동일하게 */
  justify-content: space-evenly;
  /* border: 1px solid lightgray; */
}
.lumi_total,
.lumi_collect {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0 8px;
  background-color: white;
}
.lumi_total {
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}
.lumi_collect {
  height: 40px;
  line-height: 40px;
}
.lumiQ {
  width: 70rem;
}
.lumiA {
  cursor: pointer;
  width: 30rem;
  font-size: 0.8rem;
  text-align: right;
  border: 1px solid green;
}
.lumiA :hover {
  /* 텍스트 스타일 */
  text-decoration: underline;
}

/* .mylumi {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 50px;
} */

/* .lumi_exchange {
  width: 20vw;
  text-align: center;
  padding-top: 4px;
} */
/* --------------------------------------------------------- */
/* 마이페이지 네브바 */
.mypage_nav {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
}
.mypagenav_acc:last-child {
  border: none;
}
.mypagenav_acc {
  /* margin: 0 auto; */
  /* 패널헤드랑 바디에 각각 center 준거랑 같음 */
  text-align: center;
  border-bottom: 1px solid gray;
}
.panel_head {
  padding: 20px 0;
  font-weight: 700;
  font-size: 16px;
}
.panel_body {
  padding: 4px 0;
  display: none;
}

.active .panel_body {
  /* active가 있으면 그 패널바디가 화면에 다시 나타나게 */
  display: block;
  transition-duration: 1s;
}
.panel_head :active {
  border: 2px solid #ff8f8f;
}
.rightpart {
  margin-top: 50px;
}

/* 마이페이지 항목 펼쳐지는 부분 */
article {
  margin-top: 40px;
  border: 1px solid black;
  /* .reservation 이 아닌 article에 주니까 패딩 먹음 */
  padding: 8px;
}
/* --------------------------------------------------------- */
/* 예약 내역 */
/* 예약버튼 나열 */
.reservbutton {
  display: flex;
  margin-bottom: 40px;
}
/* 현재예약, 지난예약, 취소된예약 */
.now,
.past,
.cancel {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin-right: 8px;
  cursor: pointer;
}
/* 예약항목에 들어간 정보 나열 */
.reservinfo {
  display: flex;
}
/* 예약항목 형태 */
.reservitem {
  display: flex;
  justify-content: space-between;
  width: 70vh;
  height: 50px;
  line-height: 50px;
  margin-bottom: 8px;
  border: 1px solid gray;
}
.reservname {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
.reservdate {
  font-size: 14px;
}
.hospitalreserv,
.placereserv,
.salonreserv {
  height: 50vh;
  background-color: rgb(208, 209, 209);
  padding: 20px;
}

/* 변경 버튼 */
.changebutton {
  cursor: pointer;
  padding: 0 20px;
  border-radius: 10px;
  background-color: rgba(255, 143, 143, 0.6);
}

/* 예약내역 존재여부 */
/* .reservation을 다 해줬기 때문에 block을 해도 안나타났던것 */
.reservation,
.myhospital {
  display: none;
}

.reservation,
.myplace {
  display: none;
}
.reservation,
.mysalon {
  display: block;
}

/* ---------------------------------------------------------------------- */
/* 나의 글 */
/* 게시글 항목이름 */
.postitemtitle {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  font-weight: 600;
  background-color: aliceblue;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
}
/* 작성일 & 댓글 */
.postitem {
  width: 200px;
  display: flex;
  justify-content: right;
  /* border: 1px solid black; */
}
.postcomment {
  margin-left: 100px;
}
/* 게시글항목 형태 */
.postwriting {
  background-color: rgb(219, 218, 218);
  height: 50vh;
  border-radius: 20px;
  padding: 10px;
}
.mypostitem {
  display: flex;
  justify-content: space-around;
  height: 50px;
  line-height: 50px;
  margin-bottom: 8px;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 10px;
}

.mypostinfo {
  width: 300px;
  display: flex;
  justify-content: left;
  /* border: 1px solid black; */
}

.mypostcomment {
  margin-left: 80px;
}

/* 내 댓글 */
.commentitemtitle {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  font-weight: 600;
  background-color: aliceblue;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
}
.commentwriting {
  background-color: rgb(208, 209, 209);
  height: 50vh;
  border-radius: 10px;
}
.mycommentitem {
  display: flex;
  justify-content: space-around;
  height: 50px;
  line-height: 50px;
  margin-bottom: 8px;
  border: 1px solid black;
  border-radius: 10px;
}
.mycommentwriting {
  width: 300px;
  display: flex;
  justify-content: space-around;

  border: 1px solid black;
}

/* 나의글 존재여부 */
.mywriting,
.mypost {
  display: none;
}
.mywriting,
.mycomment {
  display: none;
}

/* ---------------------------------------------------------------------- */
/* 내 정보 관리 */
.inquirytop {
  display: flex;
  justify-content: space-between;
  height: 40px;
  /* text-align, line-height 다 안됐는데 align-item으로 함 */
  align-items: center;
  border: 1px solid black;
}
.back {
  width: 30px;
  height: 30px;
  background-image: url('./img/arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 30px;
  /* display: none; */
}
.inquiry {
  font-size: 20px;
  font-weight: 700;
}
.mobiledone {
  background-color: lightblue;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  text-align: center;
}
.mobiledone :hover {
  background-color: red;
}
@media (max-width: 720px) {
  .back {
    display: block;
  }
  .mobiledone {
    display: block;
  }
}
.done {
  background-color: lightblue;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  text-align: center;
}
#textarea {
  width: 50vw;
  height: 30vw;
}
