/* .weather {
  position: fixed; 
  display: none; 
  width: 400px; 
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; 
  cursor: pointer; 
} */

/* #modalcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    border: 1px solid black;
  background-color: rgb(217, 246, 252);
  border-radius: 10px;
} */
/* display: none; */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GmarketSansMedium';
}
@media (min-width: 481px) {
  #modalcontainer {
    display: none;
  }
}
@media (max-width: 480px) {
  #modalcontainer {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12;
  }
  #modalcontent {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgb(121, 190, 255);
    border-radius: 10px;
    width: 100%;
    /* height: 300px; */
    padding: 15px;
    top: 50px;
    left: 8px;

    z-index: 13;
  }
  #modalclosebutton {
    position: absolute;
    top: 3px;
    left: 8px;
    cursor: pointer;
    /* z-index: 20; */
  }
  #modalcontainer.hidden {
    display: none;
  }

  .wl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
  }
  .monthdate {
    width: 100px;
    text-align: center;
    background-color: aliceblue;
    padding: 6px;
    border-radius: 20px;
  }
  .icon {
    height: 50%;
  }

  .wr {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 50%;
  }
  .place {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .tem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
  }
  .maxmin {
    display: flex;

    font-size: 16px;
    font-weight: 100;
  }
  .max {
    color: red;
  }
}
